.app__content {
    height: 93vh;
    width: 100vw;
    overflow: hidden;
}

.app__main {
    width: 100%;
}

.app__footer {
    height: 7vh;
}

.app__content-img {
    max-width: 25%;
}